<% provide :title, t("application.general.about") %>
<div class="about">
  <h1><%= t "application.general.welcome" %></h1>
  <p><%= t "application.general.about_info" %>
  <br>
    <span><%= t "application.general.social_network" %><%= link_to t("application.general.facebook"), "https://www.facebook.com/FramgiaVietnam/"%></span>
  </p>
</div>
