<div>
  <h1><%= t "application.general.activity" %></h1>
  <div>
    <% activities.each do |activitie| %>
      <%= activitie.description %>
      <span class="small">
        <%= t "application.general.timeago", time: time_ago_in_words(activitie.created_at) %>
      </span>
    <% end %>
  </div>
</div
