@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: #555;
$gray-darker: #222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body{
  padding-top: 60px;
  background: #e9eaed;
}

section{
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
  color: #fff;
  text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*form*/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


.button-course{
  padding-top: 10px;
}

.new-course{
  padding-bottom: 50px;
}

.row.information {
  border: 1px solid #ccc;
  margin-top: 40px;
  background-color: #fff;
  #name-information {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
  }
  #email-information {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
  }
  #level-information {
    .level-name {
      color: red;
      font-size: 18px;
    }
    div {
      margin-left: -15px;
      padding-top: 5px;
    }
  }
}
.table.table-bordered {
  border: 1px solid #000099;
}
hr {
  color: #fff;
  height: 1px;
  width: 100%;
  float: left;
  background-color: #000099;
}

#new_subject {
  .form-group {
    width: 70%;
    #success {
      width: 100px;
    }
  }
}

#subject_tasks_name {
  width: 70%;
}

.header_sub {
  h2 {
    text-align:left;
    color: #000033;
  }
  a {
    color: white;
  }
}

/*task*/
.task{
  background-color: #2ba6cb;
    height: 100px;
    width: 100%;

}

.progress{
  background-color: #B3B3B3
}

.description{
  max-width: 700px;
}

table.table-striped {
  tr {
    a {
      color: white;
    }
  }
}

.fsStyle {
   border: 2px groove (internal value);
}
 #task_box {
  background-color: #00CCFF;
  margin-left: 10px;
  height: 190px;
}

/*activity log*/
.colum-left{
  background-color: #E9EAED;
  .activity-log{
    background-color: #FFFFFF;
    height: 300px;
    padding: 15px;
    overflow-y: scroll;
    margin-left: 10px;
    h1{
      margin-top: 0px;
    }
  }
}

.colum-right{
  background-color: #FFFFFF;
}

#user_course_detail h2 {
  color: #000099;
}

#course_date div {
  display: block;
  .date-format {
    color: red;
  }
  div {
    padding: 6px 0px;
  }
}

#subject_user_detail {
  background-color: #fff;
  margin-top: 20px;
  h4 {
    color: #006600;
  }
  button {
    margin-top: 2px;
  }
  .task_user_detail {
    background: #CCCCFF;
    margin-top: 5px;
  }
  .subject_status {
    padding-left: 15px;
  }
  #subject_starting {
    margin-left: 15px;
  }
  #subject_finished {
    margin-left: 15px;
  }
}

#activity_log {
  margin-top: 40px;
  background-color: #fff;
  .all_activity {
    h3 {
      text-align: center;
    }
    .not_user {
      text-align: center;
      color: red;
    }
  }
}

.about {
  p {
    margin: 40px 20px;
    line-height: 2;
  }
}

.all_subject_detail {
  margin-left: 12px;
  .each_subject {
    border-bottom: 1px solid black;
  }
}
